{% extends 'index.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <ul class="flow-navbar">
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'subs' %}">Subscribers</a>
            </li>
            <li>
                <a href="{% url 'posts' %}">Posts</a>
            </li>
            <li>
                <a href="{% url 'flow' %}">Flow</a>
            </li>
            <li class='logo-navbar'>
                <a href="{% url 'flow' %}">LITReview</a>
            </li>
        </ul>
        <div class='tickets style="margin-top:50px"'>
            <h2>Create a Review</h2>

                <h2 style='text-align:center'> <u> TICKET </u> </h2>
                <div class='tickets'>
                <br>
                <p class="flow-owner">
               <h1> <b> {{ ticket.title }}  </b> </h1>
                </p>
                <p class="flow-owner">
                {{ ticket.content }}
                </p>                
            {% if ticket.header_image %}
             <img src='{{ticket.header_image.url}}'>
            {% endif %}
        </div>
            <div style="text-align:center;" class='flow-ticket'>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% for field in form %}
                
                    {% if field.name == "headline" %}
                    <p> Headline </p>
                    {% if field.value == None %}
                    <input type='text' name='headline' placeholder='Your Headline'>
                    {% else %}
                    <input type='text' name='headline' value = "{{ field.value }}">
                    {% endif %}
                    {% endif %}


                
                    {% if field.name == "body" %}
                    <p> Body </p>
                    {% if field.value == None %}
                    <textarea type='textarea' name='body' placeholder='Your Body'></textarea>
                    {% else %}
                    <input type='text' name='body' value = "{{ field.value }}" placeholder='Your Body'>
                    {% endif %}
                    {% endif %}

                    {% if field.name == 'rating' %}
                    <p style="text-align:center; ">Rating (max. 5)<br></p>
                    {% if field.value == None %}
                        {{field}}
                    {% else %}

                        <input maxlength='5' type='number' name='rating' value = "{{ field.value }}" placeholder='Your Rating'>
                    {% endif %}

                {% endif %}
                {% endfor %}
           
                <h4 style="color: red; text-align: left; margin-left: 19em" > {{ form.errors }} </h4>
            </div>
            <button style="text-align: left;" type='submit'>Submit</button>
        </form>
    </div>
    {% endif %}
    {% endblock content %}
    