{% extends 'index.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <ul class="flow-navbar">
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'subs' %}">Subscribers</a>
            </li>
            <li>
                <a href="{% url 'posts' %}">Posts</a>
            </li>
            <li>
                <a href="{% url 'flow' %}">Flow</a>
            </li>
            <li class='logo-navbar'>
                <a href="{% url 'flow' %}">LITReview</a>
            </li>
        </ul>
        <div class='tickets style="margin-top:30px"'>
            <h2>Create a Review</h2>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
            <div class='flow-ticket'>

                <h2 style='text-align:center'> TICKET </h2>
                <div class='tickets'>
                
                <br>
                <p class="flow-owner">
               <h1> <b> {{ticket.title}}  </b> </h1>
                </p>
                <br>
                <br>
                <p class="flow-owner">
                Content: <br>
                <br>{{ticket.content}}
                </p>
                <br>
                <br>
                
             <img src='{{ticket.header_image.url}}'>
            
            </div>
        </div>
            <div class='flow-ticket'>
                    
                {% for field in form %}
                
                {% if object.ticket.id is not None %}
                {% if field.name == 'ticket' %}
                    {% if object.ticket.author == user %}
                        <p class="flow-owner">
                            Your Ticket !
                        </p>
                    {% else %}
                        <p class="flow-owner">
                            {{ object.ticket.author }}
                        </p>
                    {% endif %}
                    <p class="flow-timedate">
                        {{ object.ticket.date_posted|date:"H:i, d F Y" }}
                    </p>
                    <h3 class="flow-ratings-comment">{{ object.ticket.title }}</h3>
                    <p class="flow-description">
                        {{ object.ticket.content }}
                    </p>
                    
                    {% if object.ticket.header_image %}
                            <img src="{{ object.ticket.header_image.url }}">
                    {% endif %}
                </div>
                
                {% endif %}
                {% endif %}

                {% if field.name == 'headline' %}

                <h2 style='text-align:center'> REVIEW </h2>
        
                <p style="text-align:center; ">Headline<br><br>{{field}}</p>

                {% elif field.name == 'rating' %}
                <p style="text-align:center; ">Rating (max. 5)<br><br>{{field}}</p>

                {% elif field.name == 'content' %}
                <p style="text-align:center; ">Content<br><br>{{field}}</p>
                {% endif %}
                {% endfor %}
           
            </div>
            <input type="submit" value="Submit" />
        </form>
    </div>
    {% endif %}
    {% endblock content %}
    