body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

/* Login Page // Home Page (if logged out) */


/* navbar login page */
.login-navbar li {
    display: inline-block;
    font-size: 0.70em;
    /* width: fit-content; */
    }

.login-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
}

.login-navbar li a:hover {
    opacity: 70%;
    color: #4CAF50;
}

ul.login-navbar{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    margin: -0.3em;
    font-size: 2em;
  }

/* LOGIN FORM */

/* divs login page*/

.homepage{
    display: inline-block;
    /* padding: 100px; */
    /* border: 1px solid black; */
    margin: 20px;

}

/* form div */
.form-login{
    padding-top: 2vw;
    margin-left: 10vw;
}

.form-login label{
    visibility: hidden;
}
.form-login form{
    display: inline-block;
    justify-content: center;
    text-align: center;

}

.form-login h2{
    padding-left: 3em;
    text-align: center;
}

.form-login button{
    margin-left: 20em;
    padding: 0.5em 1.5em 0.5em 1.5em;
}
.form-login input{
    font-size: 20px;
    text-align: center ;
}
/* register div and button */

.register-homepage{
    padding-top: 2vw;
    float: left;
    margin-left:31vw
    
}
.register-homepage a{
    text-decoration: none;
    color: black;
}

.register-homepage button{
    margin-left: 1.5em;
    margin-top: 1.2em;
    padding: 0.5em 2em 0.5em 2em;
}

/* REGISTER FORM */


.form-register{
    padding-top: 5vw;
    text-align: center;
    font-size: 1em;
}
.form-register div{
    padding-top: 1.2vw;
    text-align: center;
}
.form-register h2{
    font-size: 2em;
    display: inline-block;
}

.form-register input{
    padding: 0.5vw 10.5vw 0.5vw 10.5vw;
    text-align: center;
}
.form-register a{
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    border-radius: 0.2vw;
    cursor: default;
    margin-left: 2vw;
    font-size: 0.8em;
    padding: 0.5vw 1.5vw 0vw 1.5vw;
}

.form-register button{
    font-size: 0.8em;
    display: flex;
    margin-left: 2vw;
    padding: 0.5vw 1.5vw 0vw 1.5vw;
}
.button-signin-form{
    width: fit-content;
    display: flex;
    padding: 0.5vw !important;
    margin-top: 1vw;
    
    margin-left: 49.6vw ;
}

.form-register a:hover{
    color: #4CAF50;
    background-color: #333;

}
.form-register button:hover{
    color: #4CAF50;
    background-color: #333;


}
