{% extends 'index.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<ul class="flow-navbar">
    <li>
        <a href="{% url 'logout' %}">Logout</a>
    </li>
    <li>
        <a href="{% url 'subs' %}">Subscribers</a>
    </li>
    <li>
        <a href="{% url 'posts' %}">Posts</a>
    </li>
    <li>
        <a href="{% url 'flow' %}">Flow</a>
    </li>
    <li class='logo-navbar'>
        <a href="{% url 'flow' %}">LITReview</a>
    </li>
</ul>
<div class='tickets style="margin-top:30px"'>
    <h1>Create a Post and its Review</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class='flow-ticket-review'>
            {% csrf_token %}

            <h1>POST</h1>

            {% for field2 in form2 %}
            {% if field2.name == 'title' %}
            Title {{field2}}
            <br>
            <br>
            {%endif%}
            {% if field2.name == 'header_image' %}
            {% if field2.value == None %}
            Picture            
            <input type="file" name="header_image" accept=".doc, .docx, .pdf, .txt, .png, .jpg, .jpeg">
           
            {% endif %}
            {% endif %}
            
            <br>
            <br>
            {% if field2.name == 'content' %}
            Description {{ field2 }}
            <br>
            <br>
            {% endif %}
            {% endfor %}



<h1> REVIEW </h1>


            {% for field in form %}
            {% if field.name == 'headline' %}
            Title {{field}}
            <br>
            <br>
            {% elif field.name == 'rating' %}
            Rating (1-5) <br> <br>{{field}}
            <br>
            <br>
            {% elif field.name == 'body' %}
            Body {{field}}
            <br>
            <br>
            {% endif %}
            {% endfor %} 
            <h4 style="color: red; text-align: left; margin-left: 13em" > {{ form.errors }} </h4>

         
            <button class="create-ticket-btn" type='submit'>Submit</button>

    </form>

</div>
{% endif %}
{% endblock content %}