{% extends 'index.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% include 'flow.html' %}

    {% comment %} <a href="{% url 'flow' %}"> Home</a> {% endcomment %}
    {% else %}
    <ul class="login-navbar">
        <li> <a href="{% url 'home' %}">LITReview</a></li>
    </ul>
        <div class="homepage register-homepage">
            
            <h2>Register Now</h2>
            <button><a href="{% url 'register' %}"> Register</a></button>
            
        </div>
        <div class='homepage form-login'>
            <h2> Login </h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button> Login </button>
            </form>
        </div>
    {% endif %}
{% endblock %}


