{% extends 'index.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<ul class="flow-navbar">
    <li><a href="{% url 'logout' %}">Logout </a></li>
    <li><a href="{% url 'subs'%}"> Subscribers</a></li>
    <li><a href="{% url 'posts'%}"> Posts</a></li>
    <li><a href="{% url 'flow' %}"> Flow</a></li>
    <li class='logo-navbar'><a href="{% url 'flow'%}">LITReview</a></li>
</ul>


<div class="subs">
    {% comment %} <form method='get' class="form-search-users" action="POST">
        <h3>Add User</h3>
        <input type="text" name="search-users" class="-subs-search" placeholder="Username">
        <button>Send</button>
    </form>
 {% endcomment %}


    <form type="get" action="{% url 'search' %}" style="margin: 0">
        <input  id="search_box" type="text" name="search_box"  placeholder="Add User..." >
        <button id="search_submit" type="submit" >ADD</button>
    </form>

    <div class="subscriptions">
        <h3>All Subscriptions</h3>
        {% for profile in profiles %}
        {% if profile.username == user.username %}
            {% else %}
            <ul>
                <li>  {{profile}}
                    <button type="submit">REMOVE</button>
                </li>  
                    {% comment %} <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                    {% csrf_token %}
                 {% endcomment %}
               
                {% comment %} </form> {% endcomment %}
            </ul>
            {% endif %}
        {% endfor %}


</div>


        <div class="subscribers">
            <h3>Subscribers</h3>
            <ul>    
                <li>jean_5679 </li>
                <li>severine123 </li>
            </ul>
        </div>


</div>
{% endif %}
{% endblock content%}